body {
	color: white;
	background-color: #3D3434;
}


#dg_menu li{
    display:inline;
}
/*.dg_menu a{
    display:inline-block;
    padding:10px;
}
*/

#dg_menu {
	margin-left: auto;
	margin-right: auto;
	display: block;
/*	border-width: 2px;
	border-style: solid;
	border-color: black;*/
	padding: .4em 0em 0.4em;
	width: 100%;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.menu_item a {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 1em .55em;
	margin: 0.2em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.menu_item a:hover {
	text-decoration: none;
}
.menu_item a:active {
	position: relative;
	top: 1px;
}

.black a{
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black a:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black a:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

.litegray {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}



#dg_dropgal {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#dg_gallery {
	text-align: center;
}



.gal_item {
 	max-height: 250px;
	max-width: 100%;
	/*background-image:url('../images/loading.gif');
	background-repeat:no-repeat;
	background-position:center;*/

}

.zoom,  .tiles {
 position:relative;
 left: 340px;

}
