<script type="text/javascript">
	$( document ).ready(function() { 
		// Bind the event.
        $(window).hashchange( function(){
        // Load the appropiate gallery section whenever the hash changes
        $(".dg_gallery").load('cache/' + location.hash.substring(1, location.hash.length) + '.html');
        })

	//If there is no hash in the URL set it to "Home", the main section
        if (location.hash == "") {
        	location.hash =  "#Home";
        }
	
	//Manually triger hashchange() when the page first loads.
        $(window).hashchange();
	
	//Load the gallery navigation menu.
	$(".dg_menu").load('cache/category_menu.html');

	});
</script>
<ul class="dg_menu litegray"></ul><!-- Insert the menu -->
<div class="dg_gallery"></div><!-- Insert the appropiate gallery section -->
